<div class="page-footer">
  <div class="wrapper col-sm-12 col-lg-12 col-xs-12 col-md-12">
    <div>
    	<div class="col-sm-3 col-lg-3 col-xs-3 col-md-3">
    		<h3>Lorem ipsum</h3>
    		<p>Lorem ipsum dolor sit Nesciunt itaque, alias possimus</p>
    	</div>
    	<div class="col-sm-3 col-lg-3 col-xs-3 col-md-3">
    		<h3>Lorem ipsum</h3>
    		<p>Lorem ipsum dolor sit Nesciunt itaque, alias possimus</p>
    	</div>
    	<div class="col-sm-3 col-lg-3 col-xs-3 col-md-3">
    		<h3>Lorem ipsum</h3>
    		<p>Lorem ipsum dolor sit Nesciunt itaque, alias possimus</p>
    	</div>
        <div class="col-sm-3 col-lg-3 col-xs-3 col-md-3">
            <h3>Lorem ipsum</h3>
            <p>Lorem ipsum dolor sit Nesciunt itaque, alias possimus</p>
        </div>
    </div>

    <hr />

    <div class="clearfix social-icons">
       <p class="pull-left copyright">Copyright c 2017 Deloitte Development LLC. All rights reserved.</p>
       <ul class="pull-right footer-links">
        <li><a href=""><img src="assets/images/facebook.png"></a></li>
        <li><a href=""><img src="assets/images/twitter.png"></a></li>
        <li><a href=""><img src="assets/images/instagram.png"></a></li>
        <li><a href=""><img src="assets/images/message.png"></a></li>
       </ul>
      </div>
  </div>
</div>