<div class="page-footer">
  <div class="wrapper">
    <div>
    	<div>
    		<h3>Lorem ipsum</h3>
    		<p>Lorem ipsum dolor sit Nesciunt itaque, alias possimus</p>
    	</div>
    	<div>
    		<h3>Lorem ipsum</h3>
    		<p>Lorem ipsum dolor sit Nesciunt itaque, alias possimus</p>
    	</div>
    	<div>
    		<h3>Lorem ipsum</h3>
    		<p>Lorem ipsum dolor sit Nesciunt itaque, alias possimus</p>
    	</div>
    </div>

    <div>
    	<p>Copyright c 2017 Deloitte Development LLC. All rights reserved.</p>
    	<ul>
    		<li><a href="">Facebook</a></li>
    		<li><a href="">Twitter</a></li>
    		<li><a href="">Instagram</a></li>
    		<li><a href="">Mail</a></li>
    	</ul>
    </div>
  </div>
</div>