<div class="carousel">
  <h2 class="text-center">Previous Hackathon's Journies</h2>
  <p class="text-center carousel-text">We know you have got talent and we want you to show it!</p>
  <div class="carousel-component">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
 
      <!-- Wrapper for slides -->
      <div class="carousel-inner text-center" role="listbox">
        <div class="item active">
          <div class="carousel-container text-center">
            <div class="oval">
            <img src="assets/images/page-1.png" />
          </div>
            <h3>Lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi
              aliquid.</p>
          </div>
          <div class="carousel-container text-center">
              <div class="oval">
                  <img src="assets/images/page-11.png" />
                </div>
            <h3>Lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi
              aliquid.</p>
          </div>
          <div class="carousel-container text-center">
              <div class="oval">
                  <img src="assets/images/page-12.png" />
                </div>
            <h3>Lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi
              aliquid.</p>
          </div>
        </div>
        <div class="item">
            <div class="carousel-container text-center">
              <div class="oval">
              <img src="assets/images/page-1.png" />
            </div>
              <h3>Lorem ipsum dolor</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi
                aliquid.</p>
            </div>
            <div class="carousel-container text-center">
                <div class="oval">
                    <img src="assets/images/page-11.png" />
                  </div>
              <h3>Lorem ipsum dolor</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi
                aliquid.</p>
            </div>
            <div class="carousel-container text-center">
                <div class="oval">
                    <img src="assets/images/page-12.png" />
                  </div>
              <h3>Lorem ipsum dolor</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi
                aliquid.</p>
            </div>
          </div>
      </div>
      <a href="#carousel-example-generic" class="left carousel-control" role="button" data-slide="prev"> <span class="oval-direction"><img src="assets/images/fill-1-copy.png" ria-hidden="true"></span> </a>
      <a href="#carousel-example-generic" class="right carousel-control" role="button" data-slide="next"> <span class="oval-direction2"><img src="assets/images/fill-1.png" aria-hidden="true"></span> </a>
    </div>
  </div>
</div>