<div class="panels">
  <div class="wrapper">
    <div>
	    <h2>Panel of Judges</h2>
	    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, autem.</p>
	  </div>

	  <div>
	  	<div class="panelist" *ngFor="let panelist of panelists">
	  		<img />
	  		<div class="details">
	  			<p class="name">{{panelist.name}}</p>
	  			<p class="title">{{panelist.title}}</p>
	  		</div>
	  	</div>
	  </div>

	  <div>
	  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
	  	<a href="">click here</a>
	  </div>
  </div>
</div>
