<div class="panels">
  <div class="wrapper">
    <div>
	    <div class="sub-heading">
        <div class="panel-heading">
          <h2>Panel of Judges</h2>
        </div>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, autem.</p>
      </div>
	  </div>

	  <div class="clearfix all-panel">
	  	<div class="panelist" *ngFor="let panelist of panelists">
	  		<div class="image-area">
          <img class="panel-img" [src]="panelist.img" />
        </div>
        <div class="details">
          <p class="name">{{panelist.name}}</p>
          <p class="title">{{panelist.title}}</p>
        </div>
	  	</div>
	  </div>

	  <hr />

	  <div class="panel-status">
	  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
	  	<div class="click-here">
        <a href="">CLICK HERE</a>
      </div>
	  </div>
  </div>
</div>