

/*----------- Montserrat-Black -----------*/
@font-face{
	@include get-font-ttf('Montserrat-Black','../assets/fonts/Montserrat-Black.otf');
}
/*----------- Montserrat-Bold -----------*/
@font-face{
	@include get-font-ttf('Montserrat-Bold','../assets/fonts/Montserrat-Bold.otf');
}
/*----------- Montserrat-Hailine -----------*/
@font-face{
	@include get-font-ttf('Montserrat-Hailine','../assets/fonts/Montserrat-Hairline.otf');
}
/*----------- Montserrat-Light -----------*/
@font-face{
	@include get-font-ttf('Montserrat-Light','../assets/fonts/Montserrat-Light.otf');
}
/*----------- Montserrat-Regular -----------*/
@font-face{
	@include get-font-ttf('Montserrat-Regular','../assets/fonts/Montserrat-Regular.otf');
}
/*----------- ExodusDemo-Stencil -----------*/
@font-face{
	@include get-font-ttf('ExodusDemo-Stencil','../assets/fonts/ExodusDemo-Stencil.otf');
}

.click-here {
  width: 177px;
  height: 45px;
  padding-top: 11px;
  border-radius: 100px;
  margin: 35px auto 0;
  background: $button-color;
  cursor: pointer;
  text-align: center;
  a {
    @include font-source(Montserrat-Bold, 16px, $black-text);
    text-decoration: none;
  }
}

hr {
  width: 100%;
}