//************Color*************
$button-color : #2effb5;
$header-background: #5d5c5e;
$white : #ffffff;
$grey : #757575;

//************ Text-Color ****************
$black-text : #4a4a4a;
$light-grey-text : #3f3f3f;
