//**********************Color Variables************************
$base-white: #fff;
$base-gray: #999;

$brand-white: #fcfcfc;

$brand-red: #fc171f;
$brand-orange: #fc5926;
$brand-gold: #ef7e19;
$brand-yellow: #e1b509;
$brand-brown: #322901;

$brand-main-gray: #414141;
$brand-dark-gray: #394043;
$brand-gray: #525556;
$brand-light-gray: #858a8e;
$brand-bright-gray: #c3c3c3;
$brand-brighter-gray: #ececec;

$brand-purple: #35205b;
$brand-light-purple: #5f83fe;
$brand-blue: #4972ff;
$brand-bright-blue: #0a60ff;
$brand-baby-blue: #c2d2ff;

$brand-green: #43d551;
$puke-green: #45e951;

/*new colors*/

$blueberry: #422672;
$scarlet: #d0011b;
$marigold: #ffbf01;
$greenApple: #53c11c;
$aqua: #1dc0e5;
$darkSkyBlue: #20b3df;
$black: #333;
$grey: #7c7c7c;
$silver: #c6c5c5;
$lightgrey: #efefef;
$mercury: #e8e8e8;
$white: #ffffff;
$greyish:#b2b2b2;
$darkGrey: #4d444f;
