.carousel {
    h2 {
        margin-top: 0;
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 4px;
        color: #757575;
        padding-top:30px;
    }
    h3 {
      font-size: 24px;
      letter-spacing: 3px;
    }
    .carousel-text {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1.8px;
        color: #757575;
        padding-bottom: 20px;
    }
    background-color: #f2f2f2;
    padding-bottom: 20px;
    .carousel-component {
        .carousel-container {
            display: inline-block;
            width: 360px;
            height: 370px;
            border-radius: 5px;
            background-color: #ffffff;
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
            margin-right:20px;
            padding: 0 20px;
            color: #757575;
            font-weight: 300;
            line-height: 22px;
            letter-spacing: 1.8px;

            p {
              margin-top: 30px;
            }
        }
    }
    .oval {
        width: 90px;
        height: 90px;
        background-color: #2effb5;
        border-radius:60px;
        border: solid 1px #dddddd;
        img {
            margin-top: 30px;
        }
        margin: 45px auto 0;
    }
    .description {
        width: 293px;
        height: 88px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.57;
        letter-spacing: 1.8px;
        text-align: left;
        color: #757575;
        font-size: 14px;
    }
    .carousel-heading {
        width: 278px;
        height: 29px;
        font-family: Montserrat;
        font-size: 24px;
        letter-spacing: 3px;
        text-align: left;
        color: #757575;
    }
    
    .oval-direction {
        width: 50px;
        height: 50px;
        background-color: #f9f9f9;
        border-radius: 50%;
        padding: 9px 0 0;
        position: relative;
        top: 187px;
        left: 25px;
        display: inline-block;
    }
    .oval-direction2 {
        width: 50px;
        height: 50px;
        background-color: #dddddd;
        border-radius: 50%;
        padding: 9px 0 0;
        position: relative;
        top: 187px;
        right: 44px;
        display: inline-block;
    }
    .carousel-control.left,.carousel-control.right {
        background:none;
    }
}